header {
  display: flex;
  flex-direction: row;
  //border-bottom: 1px solid black;
  width: 100%;
  height: $navbar-height; // found in template/variables

  #menu-toggle {
    border: 0;
    background-color: white;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;  
    padding: 3px 6px;  

    i.fa-bars {
      font-size: 1.8rem;
      padding: 3px 6px;
      border-radius: 50%;
    }    
  }

  button {
    border-radius: 0!important;
  }

  span {
    flex: 1;
  }

  .right-menu {
    display: flex;
    flex-direction: row;

    a {
      color: black;
      padding: 5px;
      font-size: 1.8em;
    }

  }
}

#menu-toggle:focus {
  outline: none;
}

body.noscroll > header > #menu-toggle i {
    background-color: rgb(220, 221, 222);
}
