html {
	font-size: 16px;
}

div.blog-featured img {
	@extend .img-responsive;

	width: 100%;
}

p.readmore > a {
	white-space: normal;
	font-size: 1rem;	
	text-align: initial;
    border: 0;
    padding: 0;
}

.noscroll {
	overflow-y: hidden;
}

#header-image {
	width: 100%;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: 100% 100%;

	height: 77px;
	background-image: url("../images/mobile_version/bookbook-mobile_320.png");			

	@media (min-width: 320px) {
		height: 116px;
		background-image: url("../images/mobile_version/bookbook-mobile_480.png");			
	}

	@media (min-width: 600px) {
		height: 157px;
		background-image: url("../images/mobile_version/bookbook-mobile_768.png");			
	}

  /* Small devices (tablets, 768px and up) */
	@media (min-width: $screen-sm-min) {
		height: 197px;
		background-image: url("../images/mobile_version/bookbook-mobile_1024.png");		
	}

  /* Medium devices (desktops, 992px and up) */
	@media (min-width: 1100px) {
		height: 197px;
		background-image: url("../images/mobile_version/bookbook-mobile_1600.png");		
	}
}

#page-content-wrapper {
	padding-top: $navbar-height;
}

// make content centered in bigger than 1024 resolution
#page-content-wrapper > .container 
{
	@media (min-width: 992px) { 
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
}

.editors-choice-most-visited-row {
	@extend .row;

	img {
		@extend .img-responsive;
	}
}

.editors-choice, .most-visited-article {
	@extend .col-md-6;
	@extend .col-lg-6;
	@extend .col-sm-12;
	@extend .col-xs-12;

	img {
	    height: 128px !important;
	    width: 100% !important;
	}
}