// Bootstrap Overrides
//$font-family-sans-serif: Verdana, Arial, Helvetica, sans-serif;

// Navbar Variables
$navbar-height: 45px;

// Sidebar Variables
$sidebar-width: 300px;
$sidebar-font-size: 1.3em;
$sidebar-font-size-circles: 2.7rem;
$sidebar-li-line-height: 50px;
$sidebar-links-color-hover: #959595;

// Home Page variables
$most-visited-editors-choice-headers-font-size: 0.75rem;